* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.list-type2 {
  margin:0 auto;
}

.list-type2 ol{
counter-reset: li;
list-style: none;
*list-style: decimal;
font-size: 15px;
padding: 0;
margin-bottom: 4em;
}

.list-type2 ol ol{
margin: 0 0 0 2em;
}

.list-type2 a{
position: relative;
display: block;
padding: .7em .4em .7em 3em;
*padding: .4em;
margin: .5em 0;
color: #444;
text-decoration: none;
transition: all .2s ease-in-out;
border: 1px solid #D9D9D9;
border-radius: 0.5em;
text-align: center;
}

.list-type2 a:before{
content: counter(li);
counter-increment: li;
position: absolute;
left: -0em;
top: 49%;
margin-top: -1.3em;
background: #0E913D;
height: 2.7em;
width: 2.7em;
line-height: 2.7em;
text-align: center;
font-weight: bold;
color:#FFF;
}

.workout-overview {
  text-align: center;
}

.set {
  margin-top: 7px;
  margin-bottom: 7px;
  /* padding: 15px;
  text-align: center; */
}

.exercise {
  margin-top: 40px;
}

.exercise ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  padding: 0;
  margin-bottom: 4em;
}

.exercise ol ol {
  margin: 0 0 0 2em;
}

.exercise li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #93C775;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
}

.exercise h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.set-number {
  float: left;
  display: block;
  background-color: #0E913D;
  padding: 11px;
  width: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.superset-number {
  float: left;
  display: block;
  background-color: #737373;
  padding: 11px;
  width: 40px;
  text-align: center;
  font-weight: 700;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.set-reps {
  display: block;
  border: 1px solid #D9D9D9;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
